<!DOCTYPE html>
<html>
<head>
    <title>Contact - MechNerve Solutions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<section class="hero fade">
    <h1>Contact Us</h1>

    <p>
        📧 <b>Email:</b> mechnervesolutions@gmail.com<br>
        📞 <b>Phone:</b> +91 7995961231<br>
        📍 <b>Address:</b> Hyderabad, Telangana, India
    </p>

    <br>

    {% if success %}
    <p style="color:#18d2c1;">✅ Thank you! We received your message and will contact you soon.</p>
{% endif %}

{% if error %}
    <p style="color:red;">❌ Something went wrong. Please try again later.</p>
{% endif %}


    <form method="POST" class="contact-form">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="message" placeholder="Your Message" required></textarea>
        <button type="submit">Send Message</button>
    </form>

    <br>
    <a href="/" class="back-link">← Back to Home</a>
</section>

</body>
</html>
