* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0b0f19;
    color: #ffffff;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #020617;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-box img {
    height: 40px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.bg-logo {
    position: absolute;
    width: 420px;
    opacity: 0.06;
}

.hero h1 {
    font-size: 3rem;
    z-index: 1;
}

.hero p {
    margin-top: 10px;
    opacity: 0.8;
    z-index: 1;
}

.btn {
    margin-top: 25px;
    padding: 12px 30px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    font-weight: bold;
    z-index: 1;
}

/* Pages */
.page {
    padding: 100px 40px;
    max-width: 800px;
    margin: auto;
}

.page h1 {
    margin-bottom: 20px;
}

/* Services */
.services {
    padding: 60px;
    text-align: center;
}

.services ul {
    list-style: none;
}

.services li {
    margin: 10px 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    opacity: 0.7;
}
