<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact | MechNerve</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <div class="logo-box">
        <img src="{{ url_for('static', filename='logo.png') }}">
        <span>MechNerve</span>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<section class="page">
    <h1>Contact Us</h1>

    <p><strong>Email:</strong> mechnervesolutions@gmail.com</p>
    <p><strong>Phone:</strong> +91 7995961231</p>
    <p><strong>Location:</strong> Hyderabad, Telangana, India</p>
</section>

<footer>
    © 2026 MechNerve Solutions · Hyderabad, India
</footer>

</body>
</html>
